
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <style>
        select {
            width: 100%;
        }

        input {
            width: 100%
        }

        .round-button {
            border-radius: 25px
        }
    </style>

    <div />
    <div class="row">
        <div class="col-md-3">
            <input type="text" placeholder="Search..." />
            <div>
                @*@Html.ListBox("eennaam", Model)*@
            </div>

        </div>

        <div class="col-md-9">
            <div class="row">
                <div class="col-md-4">
                    <input type="button" class="round-button" value="Toevoegen" />
                    @*<a href="#" class="btn btn-primary btn-sm">Toevoegen</a>*@
                </div>
                <div class="col-md-4">
                    <input type="button" class="round-button" value="Bewerken" />
                </div>
                <div class="col-md-4">
                    <input type="button" class="round-button" value="Verwijderen" />
                </div>



            </div>
            <div class="row">
                @RenderBody()
            </div>
        </div>

    </div>
