<div class="col-md-4">
    <a asp-action="NewSkillset" class="btn btn-default">Toevoegen</a>
</div>
<div class="col-md-4">
    <a asp-action="EditSkillset" asp-route-id="4" class="btn btn-default">Bewerken</a>
</div>
<div class="col-md-4">
    <a asp-action="EditSkillset" class="btn btn-default">Verwijderen</a>
</div>