<div class="col-md-4">
    <input type="button" class="btn btn-default" value="Toevoegen" />
</div>
<div class="col-md-4">
    <input type="button" class="btn btn-default" value="Bewerken" />
</div>
<div class="col-md-4">
    <input type="button" class="btn btn-default" value="Verwijderen" />
</div>