@using HRM.Models
@using HRMapp.ViewModels
@model SkillsetCollectionViewModel

    <input type="text" placeholder="Search..." />
    <div>
        @Html.ListBox("tweenaam", Model.SkillsetListItems, Model.GetArguments())
        @*<select id="tweenaam" onchange="opfunction()" size="10">
            @foreach(var item in Model)
            {
                <option value="@item.Value" @(item.Selected ? "selected" : "")>@item.Text</option>
            }
        </select>*@
    </div>
    <script>
        function opfunction() {
            var e = document.getElementById("tweenaam");
            var selectedSkillsetId = e.options[e.selectedIndex].value;
            //alert("Hoi, item changed to skillset with id: " + selectedSkillsetId);
            //window.location = 'Url.Action("Skillset", "Home")/' + selectedSkillsetId;
            window.location = "/Home/Skillset/" + selectedSkillsetId;

        }
    </script>