@using HRMapp.ViewModels
@model SkillsetViewModel

@{
    ViewData["Title"] = "EditSkillset";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>EditSkillset</h2>


<div class="row">
    <div class="col-md-4">
        <input type="button" class="btn btn-default" value="Annuleren" />
    </div>
    <div class="col-md-4">
        <input type="button" class="btn btn-default" value="Opslaan" />
    </div>



</div>

<div class="row">
    <form asp-action="EditSkillset" method="post">
        <div class="form-group">
            <label asp-for="@Model.Title" class="control-label"></label>
                <input asp-for="@Model.Title" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.Description" class="control-label"></label>
                <input asp-for="@Model.Description" class="form-control" />
        </div>
        <div class="form-group">
                <button type="submit" class="btn btn-default">Add skillset</button>
        </div>
    </form>
</div>