@using HRMapp.ViewModels
@model SkillsetViewModel

@{
    ViewData["Title"] = "EditSkillset";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Skillset aanpassen</h2>


@*<div class="row">
    <div class="col-md-4">
        <input type="button" class="btn btn-default" value="Annuleren" />
    </div>
    <div class="col-md-4">
        <input type="button" class="btn btn-default" value="Opslaan" />
    </div>
</div>*@

<div class="row">
    @Html.Partial("../Partial/_SkillsetEditor.cshtml")
</div>