@using HRM.Models
@using HRMapp.ViewModels
@model SkillsetCollectionViewModel

@{
    ViewData["Title"] = "Skillset";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Skillset</h2>

<div class="row">
    <div class="col-md-3">
      @Html.Partial("../Partial/ListBoxWithSearch.cshtml", Model)
    </div>
    <div class="col-md-9">
        <div class="row">
            @Html.Partial("../Partial/_CrudButtons.cshtml")
        </div>
        <div class="row">
            @Html.Partial("../Partial/_SkillsetView.cshtml", Model.Skillsets[Model.SelectedIndex])
        </div>
    </div>

</div>