@using HRMapp.Models;
@model List<SelectListItem>


@{
    ViewData["Title"] = "Task";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-3">
        @Html.Partial("../Partial/_ListboxWithSearch.cshtml", Model)
    </div>
    <div class="col-md-9">
        <div class="row">
            @Html.Partial("../Partial/_CrudButtons.cshtml")
        </div>
        <div id="taskContent" class="row">
        </div>
    </div>

</div>

<script>
    //document.getElementById('tweenaam').addEventListener('onchange', listBoxItemSelectionChanged);
    document.getElementById('tweenaam').onchange = listBoxItemSelectionChanged;

    function listBoxItemSelectionChanged() {
        var e = document.getElementById("tweenaam");
        var selectedSkillsetId = e.options[e.selectedIndex].value;
        

        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/Home/TaskView/' + selectedSkillsetId, true);

        xhr.onload = function () {
            if (this.status == 200) {
                document.getElementById('taskContent').innerHTML = xhr.responseText;
            }
        }

        xhr.send();
    }
</script>