
@{
    ViewData["Title"] = "Task";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-3">
        @Html.Partial("../Partial/_ListWithSearch.cshtml")
    </div>
    <div class="col-md-9">
        <div class="row">
            @Html.Partial("../Partial/_CrudButtons.cshtml")
        </div>
        <div id="taskContent" class="row">
        </div>
    </div>

</div>

<script>
    document.getElementById('tweenaam').addEventListener('onchange', listBoxItemSelectionChanged);

    function listBoxItemSelectionChanged() {
        
    }
</script>