
@{
    ViewData["Title"] = "Task";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-9">
        <div class="row">
            @Html.Partial("../Partial/_CrudButtons.cshtml")
        </div>
        <div class="row">
        </div>
    </div>

</div>